%estilo-contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    gap: 3%;
    margin: 30px;
}

%card {
    --bs-card-bg: #6239533b;
    position: static;
    font-family: 'Besley', serif;
}