@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 40%r);
        align-items: start;
        justify-items: center;

        .logo {
            width: 160px;
        }

        h1 {
            font-size: 400%;
            align-self: center;
        }

    }

    .main-index {
        .inicio {
            margin: 5% 10% 0% 10%;

            h2 {
                font-size: 80px;
            }
        }
    }

    .main-tienda {
        .contenedor-productos {
            display: flex;
            flex-wrap: wrap;
        }

        .card {
            margin: 2%;
            width: 240px;
        }
    }

    .main-contactanos {
        .form-1 {
            grid-template-columns: 1fr 1fr;

            .contenedor-1 {
                .label-input {
                    input {
                        width: 97%;
                        height: 55%;
                        font-size: 100%;
                    }
                }
            }

            .contenedor-2 {
                textarea {
                    margin-left: 7%;
                    font-size: 150%;
                    width: 70%;
                    height: 85%;
                }
            }

        }

    }
}

@media only screen and (max-width: 767px) {
    header {
        align-items: none;
        justify-items: none;
        grid-template-columns: 20% 1fr auto;

        .logo {
            width: 20dvw;
            

        }

        h1 {
            font-size: 10dvw;
            align-self: center;
            justify-self: center;
        }

        .navbar {
            width: auto;
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
            flex-wrap: wrap;

            .label-hamburguesa {
                display: block;
                padding-right: 15%;

                .list-icon {
                    color: black;
                    cursor: pointer;
                }

            }

            #menu-hamburguesa {
                display: none;

                &:checked+ul {
                    height: 165px;
                    padding-right: 15%;
                }
            }

            ul {
                width: auto;
                position: absolute;
                top: 100%;
                height: 0;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: end;
                background-color: rgba(244, 200, 133, 0.80);
                overflow: hidden;
                border-radius: 0 0 0 3%;
                transition: all .3s;
                
            }

        }
    }

    .subtitulos {
        font-size: 300%;
    }

    .main-index {
        .inicio {
            h2 {
                font-size: 10dvw;
            }

            .img-inicio {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                div {
                    img {
                        height: 90%;

                    }
                }
            }
        }
    }

    .main-galeria {
        .galeria {
            .img-galeria {
                background-color: transparent;

                img {
                    border: solid 20px $bg-img-card;
                    width: 80%;
                    border-radius: 10%;
                    margin: 3%;
                }

            }
        }

    }

    .main-tienda {
        h3 {
            font-size: 30px;
        }

        .contenedor-productos {@include flex(column,wrap,center);

            // display: flex;
            // flex-direction: column;
            // flex-wrap: wrap;
            // align-content: center;

            .card {
                margin: nth($list:$medidas-porcentual , $n: 1 );
                width: 200px;
                background-color:$bg-img-card;
            }
        }
    }

    .main-nosotros {
        p {
            margin:nth($list:$medidas-porcentual , $n: 2 )
        }
    }

    .main-contactanos {
        .contactanos {
            margin-top: nth($list:$medidas-porcentual , $n: 2 );

            form {
                .form-1 {
                    display: flex;
                    flex-direction: column;
                    margin: 3%;

                    .contenedor-1 {
                        display: flex;
                        flex-direction: column;

                        .label-input {
                            font-size: 100%;
                            margin-top: nth($list:$medidas-porcentual , $n: 1 );
                        }
                    }

                    .contenedor-2 {
                        margin-top: 3%;
                        font-size: 100%;
                        textarea{

                            width: 100%;
                        }
                    }
                }

                .boton-enviar {
                    margin-top: nth($list:$medidas-porcentual , $n: 1 );
                    
                }
            }
        }
    }



    footer {
        width: 15vh;
    }
}